/*Custom Style Sheet for B4*/
/************ General ******************/
/*Page Body*/
body{
	background-color: #FFFFFF;
}
/* logo,jumbotron header and all paragraphs*/
h1,h3,p{
	padding-left: 2.083333%; /*20px*/
}
/*section titles(not main sec title)*/
h3{
	color: #5B693D;
}
/*hover over links*/
a:hover{
	color: #803C56;
	text-decoration: none;
}
/************ Header ******************/
/*logo*/
header h1{
	color: #803C56;
	font-family: 'Revalia', cursive;
	font-size: 3.125em;/*50px*/
	padding-bottom: 20px;
}
/*jumbotron header*/
header h2{
	font-size: 65px;
}

/*jumbo*/
.jumbotron{
	background-color: #183D4A;
	color: #FFFFFF;
	margin-bottom: 60px;
}

/*jumbotron image*/
header img{
	padding-left: 2.083333%; /*20px*/
}

/************ Main Content ******************/
/*main Image*/
article img{
	padding: 2.083333%; /*20px*/
}
/*main parapgraph title*/
article h2{
	color: #803C56;
}

 /************ SideBar ******************/
 /*box*/
 aside{
 	background-color: #5B693D;
 	padding: 2.083333%; /*20px*/
 }
/*Sidebar title*/
 aside h3{
 	color: #FFFFFF;
 	word-spacing: .125em;/*2px*/
 	letter-spacing: .125em;/*2px*/
 	font-weight: normal;
 	text-align: center;
 }

/*li tags*/
aside li{
	padding-top: 30px;
	list-style-type: none;
}
/*a links*/
aside a{
	color: #FFFFFF;
	word-spacing: .125em;/*2px*/
 	letter-spacing: .09375em;/*1.5px*/
}
/*un ordered list*/
aside ul{
	text-align: center;
}
/************ Top Picks Row******************/
/*images in row 2, top picks*/
.favs img{
	padding: 2.083333%; /*20px*/
}
/*section titles in top picks*/
.favs h3{
	padding-top: 60px;
	padding-left: 4.1666667%; /*40px*/
}
.favs p{
	padding:4.1666667%; /*40px*/
}
/************ Accordain ******************/
/*Accordain box*/
#accordion{
	
}
/*Accordoin Title*/
section h2{
	padding: 60px 0 2.083333% 2.083333%;/*60px 0 20px 20px*/
}

/*accordain tab headings*/
.panel-heading h3{
	color: #183D4A;
	font-size:1.875em ;/*30px*/
}
/*Restraunt Name Text*/
.rt{
	color:#FFFFFF;
}
/*Restraunt Titles row for table*/
.places{
	background-color: #696969;
}

/************ Footer ******************/
footer{
	padding-top: 60px;
}
